@media (min-width: 0px) and (max-width: 767px) {
   #clients{
   	img{
   		width: 45% !important;
    	margin-left: 4% !important;
   	}
   }
   #custom-search-input{
	width: 40% !important;
	margin-top: -35% !important;
   }
   #custom-search-input input{
   	width: 80% !important;
   }
   #carrusel h2{
   	font-size: 1em !important;
   	margin-left: 20% !important;
   }
   #carrusel h3{
   	font-size: 1em !important;
   	margin-left: 31% !important;
   }
   #carrusel .punUno{
   	font-size:0.7em; 
   	margin-left: 5% !important;
   }
   #carrusel .punDos{
   	font-size: 0.7em;
   }
   #carrusel img{
   	margin-top: 5%;
   }

   #imgAcc img{
	width: 100%;
	margin-top: 5%;
   }
   .dropShop{
   	margin-top: -18%;
   }
   #header .navbar{
   	margin-bottom: 2%;
   }
   #footer img{
   	float: none;
   	margin-left: 15% !important;
   }
   #footer p{
   	margin-left: 10%;
   }
   #backnuevo .dropdown-menu{
   	margin-left: 25%;
   }
   #backnuevo .oferta{
   	margin-left: 50%;
   }
   #backnuevo .prec span{
   	float: right !important;
   }
   #cuaAccUno .sale{
   	margin-top: -81% !important;
   }
   #cuaAccUno .new{
   	margin-top: -66% !important;
   }
   #cuaAccUno span{
   	margin-left: 30% !important;
   }
}