*{
	font-family: OpenSans-Light;
}
.imgLogo{
	width: 100px;
	height: 100px;
}
ul{
	float: right;
	margin-top: 50px;
}
li{
	list-style-type: none;
	color: #A4A4A4;
	display: inline-block;
	margin: 10px;
	border-right: 1px solid #A4A4A4;
	padding-right: 25px;
}
#liUlt{
	border-right: none;
}
.back{
	background-image: url("../img/semilla.jpg");
	background-size: 100%;
	width: 100%;	
	height: 400px;

}
.pUno{
	text-align: center;
	font-family: OpenSans-Light;
	margin: 70px;
	font-size: 10px;
	
}
.imgIco{
	margin: 90px 150px 0px;
	width: 130px;
	height: 130px;
}
.parr{
	font-size: 11px;
	color:#A4A4A4;
}
.imgmet{
	width: 104.5%;
	height: 300px;
	margin-top: 90px;
}
.Uno{
	margin-left: -1px;
}
.iconO{
	margin-left: 300px;
	margin-top: -240px;
	position: absolute;
}
.metod{
	margin-left: 280px;
	margin-top: -150px;
	position: absolute;
}
.parrAuto{
	text-align: center;
	margin-top: -100px;
	position: absolute;
	font-size: 15px;
}
.autosup{
	text-align:center;
	margin-top: 15px;
	font-size: 15px;
}
h4{
	text-align: center;
	margin-left: 50px;
}
.icono{
	margin-left: 150px;
	margin-top: 70px;
}
.auto{
	text-align: center;
	font-size: 10px;
}
.backGreen{
	background-color: #4B8A08;
	background-size: 100%;
	margin-top: 50px;
	
}
.proyec{
	width: 350px;
	height: 250px;
	margin-left: 70px;
	margin-top: 60px;
}
.proUno{
	margin-bottom: 59px;
	margin-top: -3px;
}
.proyec1{
		font-family: OpenSans-Bold;
		margin-top: 100px;
		
}
.proyec2{
	 font-family: OpenSans-Bold;
	 margin-top: 150px;

}
.equipo{
	margin-top: 20px;
}
.foto{
	width: 200px;
	height: 200px;
	border-radius: 150%;
	margin-left: 130px;
	margin-top: 50px;
	position: relative;
}
.twitter{
	width: 30px;
	height: 30px;
	margin: 20px 0px 0px 10px;
}
.redes{
	margin-left: 150px;
}
.ocupacion{
	margin-left: -10px;
}
.back2{
	background-image: url("../img/fondo2.jpg");
}
.blog{
	margin-left: 100px;
	margin-top: 10px;
}
.post{
	width: 300px;
	height: 200px;
	margin-left: 90px;
	margin-top: 30px;
}
.pUno{
	margin-left: 40px;
	margin-bottom: 10px;
}
.pDos{
	margin-left: 0px;
}
.h4{
	margin-top: -5px;
	margin-left: -200px;
	
}
.h4Uno{
	margin-left:-100px; 
}
.h4Dos{
	margin-top: 5px;
	margin-left: -280px;
	
}
.h6Uno{
	margin-left: 90px;
}
.h6Dos{
	margin-left: 40px;
}
.font-size{
	font-size: 10px;
	padding-bottom: 50px;
}
.texto{
	width: 300px;
	height: 100px;
}
.txt1{
	margin-left: 90px;
}
.txt2{
	margin-left: 40px;
}
.cuadro{
	width:229px;
	height: 180px;
	border: 1px solid #F2F2F2;
	display: inline-block;	
	margin-left: -5px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.tit{
	position: absolute;
	margin: 30px;
	color: #F2F2F2;
}
.icon{
	width: 30px;
	height: 30px;
	margin: 140px;
}
.icon1{
	width: 20px;
	height: 20px;
	margin: 145px;
}
.nombre{
	color: #FFBF00;
}
.tam{
	font-size: 10px;
	margin-top: 30px;
}
.tam1{
	margin-top: 0px;
	margin-bottom: 30px;
}
.dere{
	float: right;
	font-size: 10px;
	display: inline-block;
}
.foot{
	margin-top: none;
}
.lifoot{
float:right;
color: black;
}
.tam2{
	margin: -30px 0px 0px 60px;
}
.slider{
	margin-left: 50px;
	margin-top: 200px;
	position: absolute;
}
.slider1{
	margin-left: 1250px;
	margin-top: 200px;
	position: absolute;
}