#footer{
	
	ul li{
		margin-left: -30%;
		line-height: 200%;
	}
	.backfoot{
		background-color: #EEE6E6;
	}
	.icons{
		padding: 4%;
		background-color: white;
		color: gray;
		font-size: 1.5em;
	}
	a{
		color: #807B7B;
		font-size: .9em;
	}
	.backultfoo{
		background-color: #454242;
		color: white;
		padding-top: 1%;
		padding-bottom: 1%;
	}
	.backultfoo a{
		color: #E58E67;
	}
	p{
		font-size: .8em;
		line-height: 1.7;
		display: inline-block;
	}
	.icocir{
		background-color: white;
		width: 1.5em;
		height: 1.5em;
		border-radius: 100%;
		padding: 3%;
		
	}
	img{
		display: inline-block;
		float: right;
	}

}
footer{
	background-color: #EEE6E6;
}